# project specific
TODO
notes/
data/

# uv specific
.uv/
.venv/
__pypackages__/

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
