notes/

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# env file
.env

pb_data/

# ./ui dependencies
node_modules/
**/node_modules/

# ./ui build
dist/
**/dist/
build/
**/build/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.npm
